<div  class="profileHeaderWrapper">
  <div class="coverPicWrapper" style="background-image: url('./assets/coverPic.jpg')">

    <div class="profilePicWrapper">
      <div class="coverPic">
        <img src="./assets/profile.jpg" alt="">
      </div>
      <div class="userDetail">
        <h1>Ayush Sahu</h1>
        <!-- <h2>at UTTARPRADESH</h2> -->
      </div>
    </div>
  </div>
  <div class="footerMenu">
  <ul class="left menuList">
    <li>Timeline</li>
    <li>Profile</li>
    <li>Followers</li>
  </ul>
  <ul class="right menuList">
    <li>Photos</li>
    <li>About</li>
    <li>Setting</li>
  </ul>
  </div>
</div>
