
<div class="cardWrapper">
    <div class="cardfront">
    <div class="cardImg" style="background-image: url('./assets/Blog_2-1024x683.jpg')">
    </div>
    <div class="cardDetail">
      <h1 class="subject" title="">The team watchers</h1>
      <div class="author">by<span>shufflehound</span> February 18, 2016</div>
      <p class="discription">
        Vivamus condimentum purus in lorem molestie fermentum. Nulla suscipit nibh eu ultricies pellentesque. Fusce consectetur velit eu tristique dapibus. Donec et lobortis massa, vitae lacinia elit. Proin dolor dui, tempus eu leo vitae, congue venenatis augue. Morbi pharetra urna quis lectus pulvinar, non tincidunt purus…
      </p>
    </div>
    <div class="tagWrapper">
    <img src="assets/tag.png" alt="">
       <a href="">TRAVEL</a>,
       <a href="">UNCATEGORIZED</a>
    </div>
  </div>
</div>
<!-- <div class="cardWrapper">
  <div class="cardfront">
  <div class="cardImg" style="background-image: url('./assets/card.jpg')">
  </div>
  <div class="cardDetail">
    <h1 class="subject" title="">{{params.title}}</h1>
    <h4 class="author">by Team Heapbloq</h4>
    <h4 class="publishDate"><span>, at</span>&nbsp;{{params.timestamp | date}}</h4>
    <p class="discription">
      {{params.subtitle}}
    </p>
  </div>
</div>
</div> -->
