.cardWrapper{
  width: 100%;
  float: left;
  height: auto;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  &:nth-child(4n+1){
    margin-left: 0px;
  }
  .cardfront{
    float: left;
    width: 100%;
    .cardImg{
      float: left;
      width: 100%;
      height: 150px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .cardDetail{
      float: left;
      width: 100%;
      padding: 20px 10px 0px   10px ;
      box-sizing: border-box;


      .subject{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #505050;
        line-height: 1.7;
        font-weight: bold;
        font-family: "Montserrat";
      }

      .author{
        margin-bottom: 10px;
        color: #8d8d8d !important;
        font-size: 14px;
        span{
          padding-left: 5px;
          padding-right: 13px;
          color: #8d8d8d;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .discription{
        padding-bottom: 15px;
        word-break: break-word;
        color: #8d8d8d;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
      }



    }
  }
}
.tagWrapper{
  border-top: 1px solid #e9e9e9;
padding-top: 15px;
text-align: left;
box-sizing: border-box;
color: #8d8d8d;
font-size: 14px;
line-height: 1.7;
font-weight: 400;
float: left;
width: 100%;
img{

width: 15px;
position: relative;
top: 4px;
margin-right: 10px;
float: left;
}
a{
font-size: 13px;
text-transform: uppercase;
color: #8d8d8d !important;
text-decoration: none;
word-wrap: break-word;
font-family: "Montserrat";
}
}
