<h3>Before write your experience please select your category</h3>
<button type="button" name="button" (click)="valueChanged()">start writting</button>
<div class="categoryWrapper">
   <input type="checkbox" id="1">
   <label for="1">
      <img src="./assets/art.jpeg" alt="Write Blogs">
      <p>Art</p>
      <div class="gradiant"></div>
   </label>

   <input type="checkbox" id="2">
   <label for="2">
      <img src="./assets/art.jpeg" alt="Write Blogs">
      <p>Art</p>
      <div class="gradiant"></div>
   </label>

   <input type="checkbox" id="3">
   <label for="3">
      <img src="./assets/book.jpeg" alt="Write Blogs">
      <p>Book</p>
      <div class="gradiant"></div>
   </label>

   <input type="checkbox" id="4">
   <label for="4">
      <img src="./assets/photoshop.jpeg" alt="Write Blogs">
      <p>Photography</p>
      <div class="gradiant"></div>
   </label>

   <input type="checkbox" id="5">
   <label for="5">
      <img src="./assets/food.jpeg" alt="Write Blogs">
      <p>Food</p>
      <div class="gradiant"></div>
   </label>

  <input type="checkbox" id="6">
   <label for="6">
      <img src="./assets/art.jpeg" alt="Write Blogs">
      <p>Art</p>
      <div class="gradiant"></div>
   </label>

   <input type="checkbox" id="7">
   <label for="7">
      <img src="./assets/book.jpeg" alt="Write Blogs">
      <p>Book</p>
      <div class="gradiant"></div>
   </label>

   <input type="checkbox" id="8">
   <label for="8">
      <img src="./assets/photoshop.jpeg" alt="Write Blogs">
      <p>Photography</p>
      <div class="gradiant"></div>
   </label>

   <input type="checkbox" id="9">
   <label for="9">
      <img src="./assets/food.jpeg" alt="Write Blogs">
      <p>Food</p>
      <div class="gradiant"></div>
   </label>
</div>
