<div class="topWrapper">
  <app-header></app-header>


  <div class="wrapper">

    <div class="header">
      <h3>Your Expeerience</h3>
       <button routerLink="/blog">Create blog</button>
       <ul>
         <li routerLink="/cardcollection">Draft</li>
         <li class="active">Publish</li>
       </ul>
    </div>

 
    <div class="rytWrapper innerWrapper">
      <div class="outercardWrapper" routerLink="/cardcollection">
         <div class="categoryCard">
            <div class="imgWrapper">
               <img src="./assets/art.jpeg" alt="Write Blogs">
            </div>
            <p class="mainHeading">Art</p>
            <p class="numPost">5 post</p>
         </div>
      </div>

      <div class="outercardWrapper" routerLink="/cardcollection">
         <div class="categoryCard">
            <div class="imgWrapper">
               <img src="./assets/book.jpeg" alt="Write Blogs">

            </div>
            <p class="mainHeading">Book</p>
            <p class="numPost">5 post</p>
         </div>
      </div>

      <div class="outercardWrapper" routerLink="/cardcollection">
         <div class="categoryCard">
            <div class="imgWrapper">
               <img src="./assets/photoshop.jpeg" alt="Write Blogs">

            </div>
            <p class="mainHeading">Photography</p>
            <p class="numPost">5 post</p>
         </div>
      </div>

      <div class="outercardWrapper" routerLink="/cardcollection">
         <div class="categoryCard">
            <div class="imgWrapper">
               <img src="./assets/food.jpeg" alt="Write Blogs">
            </div>
            <p class="mainHeading">Food</p>
            <p class="numPost">5 post</p>
         </div>
      </div>


    </div>

  </div>
</div>
