.topWrapper{
float: left;
width: 100%;
.wrapper{
  width: 1200px;
  margin: 90px auto auto auto;
  .rytWrapper{
    float: right;
    width: 270px;
    margin-left: 3%;

    .searchWrapper{
      float: left;
      width: 100%;
      position: relative;
      margin-bottom: 15px;
      overflow: hidden;
      input{
        float: left;
        border-radius: 30px;
        padding: 10px 10px;
        border: 1px solid #0000001c;
        width: 100%;
        font-size: 14px;
        outline: none;
      }
    }
    .addPostWrapper{
      float: left;
      width: 100%;
      position: relative;
      margin-bottom: 15px;
      padding: 10px 10px;
      border: 1px solid #0000001c;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      background-color: white;
       p{
        color: #7297a9;
        font-size: 14px;
       }
       img{

       }
    }
  }
  .leftWrapper{
    width: 70%;
    float: left;

    .outercardWrapper{
      margin-left: 20px;
      width: 100%;
      float: left;
      margin-bottom: 25px;
          height: 240px;
      &:nth-child(3n+1){
        margin-left: 0px;
      }

      .addBlog{
        border: 1px solid #0000001c;
        float: left;
        width: 100%;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 240px;
        background-color: white;
        flex-flow: column;
         .imgWrapper{
           float: left;
            width: 79px;
            border: 4px solid #336699;
            border-radius: 100%;
            padding: 13px;
            box-sizing: border-box;
            height: 79px;
            cursor: pointer;
             img{
                 width: 100%;
                 float: left;
             }
         }
         p{
           float: left;
          font-size: 11px;
          text-transform: uppercase;
          color: #8c8c8c;
          font-weight: 500;
          margin-top: 10px;
         }
      }
      .categoryCard{
        background: white;
        border: 1px solid #0000001c;
        height: 240px;
        border-radius: 3px;
        padding: 10px;
        box-sizing: border-box;
        cursor: pointer;
         .imgWrapper{

           float: left;
            width: 100%;
            height: 150px;
            position: relative;
            .gradiant{
               background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
               position: absolute;
               left: 0px;
               right: 0px;
               bottom: 0px;
               top: 0px;
                   opacity: .5;
            }
            img{
              float: left;
              width: 100%;
            }
         }

         p{
           text-align: center;
         }
         p.mainHeading{
           margin-top: 10px;
           float: left;
           width: 100%;
           font-size: 16px;
           color: black;
           font-weight: 500;
         }

         p.numPost{
           font-size: 14px;
            color: #000000;
         }
      }
    }
  }
}
}
