<div class="wall_card_wrapper">
  <div class="wrapper_left_side">
    <img src="./assets/book.jpeg" alt="">
  </div>
  <div class="wrapper_right_side">
    <a href="" class="heading"><h2>The team watchers</h2></a>
    <div class="author">by<span>shufflehound</span>February 18, 2016</div>
    <div class="post_text">Vivamus condimentum purus in lorem molestie fermentum.
      Nulla suscipit nibh eu ultricies pellentesque. Fusce consectetur velit eu tristique
      dapibus. Donec et lobortis massa, vitae lacinia elit. Proin dolor dui, tempus eu leo
      vitae, congue venenatis augue. Morbi pharetra urna quis lectus pulvinar, non tincidunt
       purus…
     </div>
     <div class="post_footer">
       <i><img src="assets/tag.png" alt=""></i>
       <a href="">TRAVEL</a>,<a href="">UNCATEGORIZED</a>
     </div>
  </div>
</div>
